body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.2em;
	margin:3% auto;
	text-align: center;
	background-image: url("../img/footballBackground.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#content {
	background-color: #b0b2b2;
	align-content: center;
	height: 65%;
	width: 40%;
	margin: 0 auto;
	border-style: outset;
	border-width: 10px;
}

#boxed {
    background-color: #bbb;
	align-content: center;
	height: 5%;
	width: 20%;
	margin: 0 auto;
	border-style: outset;
	border-width: 10px;
}

table {
	align-content: center;
	margin: 0 auto;
	background-color: #aaa;
	width: 60%;
}

#logo {
	height: 200px;
	width: auto;
	padding: 2%;
}

.row {
    margin-bottom: 10px;
}

.btn {
  background-color: #1F3A68;
  border: 2px solid #fff;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn:hover {
	background-color: #ddd;
}

#top {
    align-content: center;
    height: 65%;
    width: 80%;
    margin: 10px auto;
	border-bottom: 2px solid #fff;
    font-size: 2em;
	color: #fff;
}

#title {
    background-color: #CE2633;
    align-content: center;
    height: 65%;
    width: 80%;
    margin: 15px auto;
    border-style: ridge;
    border-width: 10px;
    font-size: 2em;
	box-shadow: 10px 10px 5px grey;
}
